In [9]:
import pandas as pd

data = pd.Series([1,6,11,777])
data[0]
data[1:4]
data = pd.Series([10,20,30,40], index=['a','b','c','d'])
print(data)
print(data.values)
print(data.index)

a    10
b    20
c    30
d    40
dtype: int64
[10 20 30 40]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
students_dict = {'Akash':991, 'Abishek':992, 'Gokul':993}
students = pd.Series(students_dict)
print(students)

Akash      991
Abishek    992
Gokul      993
dtype: int64

In [12]:
list1 = [['Akash',1],['Abishek',2],['Gokul',3]]
df = pd.DataFrame(list1,columns=['Name','Roll No'])
print(df)

      Name  Roll No
0    Akash        1
1  Abishek        2
2    Gokul        3